<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.doperj.user.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="top.doperj.user.domain.Address">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="zip" jdbcType="INTEGER" property="zip" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
  </resultMap>
  <resultMap id="AddressUser" type="top.doperj.user.pojo.AddressUser">
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    address_id, user_id, zip, province, city, district, address, is_default, modified_time, 
    phone_num
  </sql>
  <sql id="Address_Column_List">
    t_address.address_id, t_address.user_id, t_address.zip, t_address.province, t_address.city, t_address.district,
    t_address.address, t_address.is_default, t_address.modified_time, t_address.phone_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Address_Column_List" />
    FROM t_address, t_user
    WHERE t_address.user_id = t_user.user_id AND  t_user.user_name = #{userName, jdbcType=VARCHAR}
  </select>
  <select id="selectUserNameByOrderId" resultMap="AddressUser" parameterType="java.lang.Integer">
    SELECT a.address_id, b.user_name
    FROM t_address AS a, t_user AS b
    WHERE a.address_id = #{addressId}
    AND a.user_id = b.user_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByUserName" parameterType="java.lang.String">
    delete from t_address, t_user
    where t_address.user_id = t_user.user_id AND  t_user.user_name = #{userName, jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.doperj.user.domain.Address">
    insert into t_address (address_id, user_id, zip, 
      province, city, district, 
      address, is_default, modified_time, 
      phone_num)
    values (#{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{zip,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{isDefault,jdbcType=BIT}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{phoneNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.doperj.user.domain.Address">
    insert into t_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="isDefault != null">
        is_default,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="phoneNum != null">
        phone_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        #{isDefault,jdbcType=BIT},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.doperj.user.domain.Address">
    update t_address
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneNum != null">
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.doperj.user.domain.Address">
    update t_address
    set user_id = #{userId,jdbcType=INTEGER},
      zip = #{zip,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=BIT},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      phone_num = #{phoneNum,jdbcType=VARCHAR}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
</mapper>